<html>
<head>
    <meta charset="UTF-8">
    <title>专题页</title>
    <script>
        window.comp = {};
    </script>
    <style>
        html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,img {
            margin: 0;
            padding: 0
        }
        ol, ul {
            list-style: none;
        }
    </style>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="http://127.0.0.1:1235/dist/commons.js"></script>
<script type="text/javascript" src="http://127.0.0.1:1235/dist/sdk.js"></script>
</body>
</html>