// 此文件遵循CSS module
.publicTextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hoverIn {
    outline-offset: -1.5px;
    outline: 1.5px solid #40a9ff;
}

.dragIn {
    outline-offset: -3px;
    outline: 3px solid #03d000;
}

.chooseIn {
    outline-offset: -3px;
    outline: 3px solid #40a9ff;
}

.header {
    height: 50px !important;
    padding: 0 20px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.optionSlide {
    height: calc(100% - 50px);
}

.tabPane {
    overflow: auto;
    height: calc(100% - 44.6px);
    padding: 10px 0;
    background-color: #fff !important;
}

.configWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.compName {
    font-weight: bold;
    margin-left: 10px;
    .publicTextOverflow();
}

.config {
    width: 120px;
    margin: 0 10px 10px 10px;

    &.long {
        width: 260px;
    }

    p {
        .publicTextOverflow();
        margin-bottom: 5px;
    }
}